<%- include("./includes/head") %>
  <link rel="stylesheet" href="/css/" />
</head>
<body>
  <%- include("./includes/navigation") %>
  <div>
    <% for(products of prod){ %>
    <div class="card">
      <div class="container">
        <h2 class="title">Name :- <%= products.name %></h2>
        <h3>Brand :- <%= products.brand %></h3>
        <h3>Price :- <%= products.price %></h3>
      </div>
      <p>
        <a href=""><button>Add To Cart</button></a>
      </p>
    </div>

    <% } %>
  </div>
  <%- include("./includes/footer") %>
</body>
